* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  position: relative;

}

.wrapper_two {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  position: relative;
}


.topnav {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}


.topnav #menu_links {
  display: none;
  grid-column: 1 / -1 ;
  list-style: none;
  font-size: 1.6rem;
  font-family: "Josefin Sans";
  line-height: 4rem;
  background-color: #C0B3A0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2.3rem;
  position: absolute;
  top: 7rem;
  width: 100%;
  text-align: center;
}

.topnav a {
  text-decoration: none;
  color: #ffffff;
}

.topnav a:visited {
  text-decoration: none;
  color: #ffffff;
}

.topnav a:hover {
  text-decoration: none;
  color: #E14658;
}

.logo {
  background-image: url(../Images/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 6rem;
  height: 3.2rem;
  grid-column: 1 / 2;
  margin-left: 2.3rem;
}

button {
  background: white;
  border: 0;
  cursor: pointer;
  grid-column-start: 4;
  justify-self: end;
  margin-right: 2.3rem;
}


.topnav .bar-1, .bar-2, .bar-3 {
  position: relative;
  width: 3.5rem;
  height: .5rem;
  background-color: #555;
  margin: .6rem 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-.9rem, .6rem) ;
  transform: rotate(-45deg) translate(-.9rem, .6rem) ;
}

/* Fade out the second bar */
.change .bar-2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-.9rem, -.7rem) ;
  transform: rotate(45deg) translate(-.9rem, -.7rem) ;
}

.main_page {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr 1.25fr 2fr;
  align-items: center;
}

.project_version {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 8.6rem 42rem 35rem;
  align-items: center;
}

.pink-button {
  display: grid;
  grid-column: 1 / -1;
  width: 16.5rem;
  height: 4rem;
  background-color: #E14658;
  border-radius: 4%;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
  align-items: center;
  box-shadow: 2.5px 2.5px 8px #88888880;

}

.main_img {
  display: grid;
  grid-column: 1 / -1;
  margin: 0;
}

.pink-color-block {
  display: grid;
  grid-column: 1 / 2;
  background-color: #E14658;
  width: 6rem;
  height: .4rem;
  margin-left: 2.3rem;
  align-self: start;
  margin-top: 2rem;
}

.intro_header {
  display: grid;
  grid-column: 2 / 4;
  align-self: center;
  align-self: start;
}

.intro_header_two {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 1rem;
  grid-template-columns: 1fr 3fr;
  align-self: center;
  align-self: start;
  margin-right: 2.3rem;
}

h1 {
  font-size: 4.6rem;
  font-family: "Josefin Sans", sans-serif;
  color: #333333;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  font-size: 3.6rem;
  font-family: "Josefin Sans", sans-serif;
  color: #333333;
  font-weight: 500;
}

h3 {
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  color: #333333;
  line-height: 3.6rem;
  font-weight: 300;
}

ul {
  list-style: none;
  padding: 0;
  line-height: 1rem;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #333333;
  font-weight: 300;
}

h5 {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  color: #333333;
  font-weight: 400;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin: 0;
}

h6 {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #666666;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0;
  padding-top: 1.5rem;
  margin-top: 0;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  margin: 0;
}

.projects {
  display: grid;
  grid-template-rows: 1fr 8fr 8fr;
  grid-template-columns: repeat(auto-fill, minmax(33.7rem, 54.7rem));
  grid-gap: 3rem;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.projects .project_title {
  display: grid;
  grid-column: 1 / -1;
  margin-top: 0;
  margin-bottom: 0;

}

.fitcollect_link {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.fitcollect {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/FitCollect_pic.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 33.7rem;
  height: 31rem;
  color: #ffffff;
  text-align: center;
  box-shadow: 1px 1px 10px 3px #999999;
}


.fitcollect .project_headline, .stb .project_headline, .FitCollect_VN .project_headline {
  font-family: "Josefin Sans";
  color: #ffffff;
  margin-bottom: 0;
  text-align: center;
  grid-row: 2 / 3;
}

.project_desc {
  font-family: "Lato";
  font-size: 1.8rem;
  font-weight: 100;
  padding-top: 1rem;
  width: 100%;
  grid-row: 3 / 4;
  color: #ffffff;
}

.stb, .FitCollect_VN {
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/STB_pic.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 33.7rem;
  height: 31rem;
  color: #ffffff;
  text-align: center;
  box-shadow: 1px 1px 10px 3px #999999;
}

.FitCollect_VN {
  background-image: url(../Images/FitCollect_pic.png);
}


.STB_link {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.desc {
  display: grid;
  grid-column: 2 / -1;
  margin-bottom: 0;

}

.main_img {
  background-image: url(../Images/Portfolio_Pic.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  grid-column: 1 / -1;
  width: 100%;
  height: 35rem;
  align-items: center;
  justify-items: center;
}

.arrow {
  width: 3rem;
  margin-top: 20rem;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3rem);
  }
  60% {
    transform: translateY(-1.5rem);
  }
}
.projects {
  display: grid;
  grid-column: 1 / -1;
}

footer {
  display: grid;
  position: absolute;
  bottom: 0%;
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
  font-weight: 300;
  background-color: #22252C;
  background-size: 100% 100%;
  color: #ffffff;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-bottom: 1rem;
}


.footer_title {
  color: #ffffff;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin: 0;
}

.footer_list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-items: center;
  align-items: center;
}

.email {
  display: grid;
  grid-column: 2;
  width: 3.5rem;
}

.github {
  display: grid;
  grid-column: 3;
  width: 3.5rem;
}

.linkedin {
  display: grid;
  grid-column: 4;
  width: 3.5rem;
  align-self: center;
}

small {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.prototype {
  display: grid;
  grid-column: 1 / -1;
  grid-row-start: 3;
  grid-template-rows: 5fr 1fr;
  grid-gap: 2rem;
  justify-items: center;

}

.fitcollect_img {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  margin: 0;
  background-image: url(../Images/FitCollect_CS.png);
  background-repeat: no-repeat;
  width: 35rem;
  height: 25rem;
}

.STB_img {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  margin: 0;
  background-image: url(../Images/STB_pic_CS.png);
  background-repeat: no-repeat;
  width: 35rem;
  height: 25rem;
}

.button_text {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  text-align: center;
  background-color: #F0F0F0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.introduction_items {
  display: grid;
  grid-column: 1 / -1;
}

.main {
  font-weight: 500;
}

.tools {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.deliverables {
  padding-bottom: 3rem;
}

.problem {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  text-align: center;
  justify-items: center;
}

.the-client {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/Client.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  grid-column: 1 / -1;
  height: 29.5rem;
  justify-items: center;
  width: 37.5rem;
}

.the-client-two {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/client_two.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  grid-column: 1 / -1;
  height: 29.5rem;
  justify-items: center;
  width: 37.5rem;
}

.white {
  color: #ffffff;
  display: grid;
  grid-row-start: 2;
}

.client_quote {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
  grid-row-start: 3;
  padding-left: 1rem;
  padding-right: 1rem;
}

.the-user, .the-user-two {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/User.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  grid-column: 1 / -1;
  height: 29.5rem;
  justify-items: center;
  margin-top: -0.1rem;
  width: 37.5rem;
}

.the-user-two {
  background-image: url(../Images/user_two.png);
}


.solution {
  display: grid;
  grid-column: 1 / -1;
  padding-top: 5rem;
  justify-items: center;
}

.discovery {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 5rem;
  margin: 0;
  margin-top: -3rem;
}

.user-surveys {
  background-color: #F0F0F0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
  text-align: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 1.5rem;
}

.category_title {
  display: grid;
  grid-column: 1 / -1;
  margin: 0;
  font-weight: 500;
  text-align: center;
  padding-top: 5rem;
}

.bold-purple {
  color: #6A5487;
  font-weight: 500;
  text-align: center;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.percentage {
  color: #6A5487;
}

.section_title {
  margin-bottom: 0;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.user-interviews {
  display: grid;
  grid-template-columns: 1fr;
}

.key-takeaway {
  display: grid;
  grid-template-columns: 1fr 14.5fr;
  grid-gap: 2rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: 3rem;
  justify-item: left;
  text-align: left;
}

.bullet {
  display: grid;
  grid-column: 1;
}

.grey-line {
  background-color: #C7C7CA;
  width: 18.75rem;
  height: .3rem;
  margin-top: 5rem;
}

.competitive-analysis {
  display: grid;
  grid-column: 1 / -1

}

.comp {
  padding-top: 3rem;
}

.sol {
  padding-bottom: 3rem;
}

.content {
  margin-top: 3rem;

}

.user-personas {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.user {
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 5rem;
  justify-self: center;
}

.user_two {
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 5rem;
  justify-self: center;
}

.user_img, .user-name, .user-type {
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}

.user_img {
  justify-self: center;
}

.user-quote {
  text-align: left;
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.user-cat {
  justify-self: left;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 1rem;

}

.competitive-analysis a, .user-personas a, .user-flows a, .branding a {
  justify-self: center;
}

.IA {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 5rem;
  margin: 0;
  text-align: center;
}

.user-stories, .user-flows, .site-map, .wireframes, .branding, .mockups, {
  display: grid;
  grid-column: 1 / -1;
  justify-items: center;
}

.user-stories p {
  padding-bottom: 3rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.user-flows p, .site-map p, .wireframes p, .branding p, .mockups p, .front_end p {
  display: grid;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;

}

.user-flows-img, .site-map-img {
  padding-bottom: 3rem;
}

.inner {
  margin-bottom: 0;
}

.topp {
  padding-top: 3rem;
}


.key-takeaway p {
  padding: 0;
}

.wireframes .round-one {
  padding: 0;
}

.visual_design {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  justify-items: center;
}


.branding {
  text-align: center;
}

.end {
  margin-top: 3rem;
}

.mockups, .front_end {
  display: grid;
  grid-column: 1 / -1;
  justify-items: center;
  text-align: center;
}

.mockups .key-takeaway {
  justify-self: left;
}

.reflections {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 5rem;
}

.view_next, .view_next_two {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 2rem;
  padding-bottom: 43rem;
}

.view_next_two {
  padding-bottom: 53rem;
}

/* Space Correction after Round One Testing Key Takaways */
.space {
  padding-bottom: 1.5rem;
}

/* Spacing Correction between Preference Testing and key takeaways */

/* And Spacing Correction between Round Two User Testing and key takeaways */

.space_two {
  padding-top: 0;
}

.wireframes .space_three, .branding .space_three, .front_end .space_three {
  padding-bottom: 0;
}
