* {
  box-sizing: border-box;
}

/* Setting REM for the rest of the document- easy to calc */
html {
  font-size: 10px;
}

/* Wrapper for the Homepage- sets the grid for homepage */
.wrapper {
  background-color: #F0F0F0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  position: relative;
  width: 100%;
}

/* Wrapper for case study pages- sets the grid */
.wrapper_two {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  position: relative;
}


/* Top navigation grid for all pages */
.topnav {
  align-items: center;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  width: 90%;
}

/* Menu link within Hamburger */
.topnav #menu_links {
  background-image: linear-gradient(#C0B3A0,#C0B3A0,#D0C3AF, #F0F0F0);
  background-size: cover;
  display: none;
  flex-direction: column;
  font-family: "Josefin Sans";
  font-size: 2.8rem;
  line-height: 6rem;
  list-style: none;
  padding-bottom: 2rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: 1rem;
  position: absolute;
  text-align: center;
  top: 5rem;
  width: 100%;
}

/* Link style for navigation */
.topnav a {
  text-decoration: none;
  color: #ffffff;
}

/* Visited link style */
.topnav a:visited {
  text-decoration: none;
  color: #ffffff;
}

/* Visited link style */
.topnav a:hover {
  text-decoration: none;
  color: #E14658;
}

.logo {
  background-image: url(../Images/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 3.2rem;
  margin-right: auto;
  position: absolute;
  top: 2rem;
  left: 5%;
  width: 6rem;
}

/* Hambuger Menu Button */
button {
  background: #F0F0F0;
  border: 0;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  padding: 0;
  right: 5%;
  top: 2rem;

}

/* Styling for the Hamburger Menu */
.topnav .bar-1, .bar-2, .bar-3 {
  background-color: #333333;
  height: .5rem;
  margin: .6rem 0;
  position: relative;
  transition: 0.4s;
  width: 3.5rem;
}

/* Rotate first bar */
.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-.9rem, .6rem) ;
  transform: rotate(-45deg) translate(-.9rem, .6rem) ;
}

/* Fade out the second bar */
.change .bar-2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-.9rem, -.7rem) ;
  transform: rotate(45deg) translate(-.9rem, -.7rem) ;
}

/* Header for homepage- grid set up */
.main_page {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  background-color: #F0F0F0;
}

/* Header for case study pages */
.project_version {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 8.6rem 42rem 35rem;
}

/* Styling for all call to action buttons */
.pink-button {
  align-items: center;
  background-color: #E14658;
  border-radius: 4%;
  box-shadow: 2.5px 2.5px 8px #88888880;
  color: #ffffff;
  display: grid;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  grid-column: 1 / -1;
  height: 4rem;
  text-align: center;
  width: 16.5rem;
}

/* Hompage mountain image */
.main_img {
  display: grid;
  grid-column: 1 / -1;
  margin0
}

/* Stying and placement for all pink color blocks */
.pink-color-block {
  display: grid;
  grid-column: 1 / 2;
  background-color: #E14658;
  width: 6rem;
  height: .4rem;
  align-self: start;
  margin-top: 2rem;
  margin-right: 1rem;
}

.heading_section {
  display: grid;
  grid-column: 1 / -1;
  width: 90%;
  justify-self: center;
}

/* Introduction H1 and H3 title and description for homepage*/
.intro_header {
  align-self: center;
  align-self: start;
  display: grid;
  grid-column: 2 / 4;
}

/* Introduction H1 and H3 title and description for case study pages */
.intro_header_two {
  align-self: center;
  align-self: start;
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 1rem;
  grid-template-columns: 1fr 3fr;
  margin-right: 2.3rem;
}

h1 {
  color: #333333;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.6rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  color: #333333;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
}

h3 {
  color: #333333;
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 3.6rem;
  font-weight: 300;
}

h4 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

h5 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

h6 {
  color: #666666;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.5rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 2.4rem;
  margin: 0;
}

/* Eliminate styling of ul for all pages */
ul {
  list-style: none;
  padding: 0;
  line-height: 1rem;
}

/* Sets up the grid for displaying projects on the homepage */
.projects {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28.8rem, 35rem));
  grid-gap: 3rem;
  justify-content: center;
  padding-bottom: 40rem;
  text-align: center;
}

/* Title of the project styling and grid placement */
.projects .project_title {
  display: grid;
  grid-column: 1 / -1;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3rem;
}

/* Link that wraps the entire dive for Fitcollect project on homepage */
.fitcollect_link {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* Div for Fitcollect on the homepage */
.fitcollect {
  background-image: url(../Images/FitCollect_pic_desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 10px 3px #999999;
  color: #ffffff;
  display: grid;
  height: 30rem;
  position: relative;
  width: 90%;
}

.overlay {
  display: grid;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  background-color: #3F325095;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  justify-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Headings for the project titles on both the homepage and View Next on CS Pages*/
.fitcollect .project_headline, .stb .project_headline {
  width: 100%;
  color: #ffffff;
  font-family: "Josefin Sans";
  grid-row: 2 / 3;
  margin: 0;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.FitCollect_VN .project_headline {
  color: #ffffff;
  font-family: "Josefin Sans";
  grid-row: 2 / 3;
  margin-bottom: 0;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Heading for project description on both the homepage and view next portion on CS Pages */
.project_desc {
  color: #ffffff;
  font-family: "Lato";
  font-size: 1.8rem;
  font-weight: 100;
  grid-row: 3 / 4;
  padding-top: 1rem;
  margin: 0;
  width: 100%;
  text-align: center;
}

/* Div for Sixth Tool Baseball on homepage and view next for fitcollect*/
.stb, .FitCollect_VN {
  background-image: url(../Images/STB_pic_desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 10px 3px #999999;
  color: #ffffff;
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  height: 30rem;
  text-align: center;
  width: 90%;
}

.stb {
  position: relative;
}

/* Image for view next FitCollect*/
.FitCollect_VN {
  background-image: url(../Images/FitCollect_pic.png);
}

/* link that wraps the entire div for sixth tool baseball on homepage */
.STB_link {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* Personal description under my name on homepage*/
.desc {
  display: grid;
  grid-column: 2 / -1;
  margin-bottom: 0;
}

/* Main image on homepage of mountains- additional styling */
.main_img {
  align-items: center;
  background-image: url(../Images/Portfolio_Pic.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  grid-column: 1 / -1;
  height: 35rem;
  justify-items: center;
  width: 100%;
}

/* Down arrow found on homepage on top of mountain pic*/
.arrow {
  width: 4rem;
  margin-top: 8rem;
  text-align: center;
}

/* Makes the arrow bounce for annimation*/
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3rem);
  }
  60% {
    transform: translateY(-1.5rem);
  }
}


.projects {
  display: grid;
  grid-column: 1 / -1;
}

footer {
  display: grid;
  position: absolute;
  bottom: 0%;
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
  font-weight: 300;
  background-color: #22252C;
  background-size: 100% 100%;
  color: #ffffff;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-bottom: 1rem;
}

footer p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}


.footer_title {
  color: #ffffff;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin: 0;
}

.footer_list {
  list-style: none;
  display: block;
  padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer_list li {
  align-items: center;
}

.email {
  display: inline-block;
  width: 3.5rem;
  margin-right: 2rem;
}

.github {
  display: inline-block;
  width: 3.5rem;
  margin-right: 2rem;
}

.linkedin {
  display: inline-block;
  width: 3.5rem;
  align-self: center;
}

small {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.prototype {
  display: grid;
  grid-column: 1 / -1;
  grid-row-start: 3;
  grid-template-rows: 5fr 1fr;
  grid-gap: 2rem;
  justify-items: center;

}

.fitcollect_img {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  margin: 0;
  background-image: url(../Images/FitCollect_CS.png);
  background-repeat: no-repeat;
  width: 35rem;
  height: 25rem;
}

.STB_img {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  margin: 0;
  background-image: url(../Images/STB_pic_CS.png);
  background-repeat: no-repeat;
  width: 35rem;
  height: 25rem;
}

.button_text {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  text-align: center;
  background-color: #F0F0F0;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.introduction_items {
  display: grid;
  grid-column: 1 / -1;
}

.main {
  font-weight: 500;
}

.tools {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.deliverables {
  padding-bottom: 3rem;
}

.problem {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  text-align: center;
  justify-items: center;
}

.the-client {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/Client.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  grid-column: 1 / -1;
  height: 29.5rem;
  justify-items: center;
  width: 37.5rem;
}

.the-client-two {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/client_two.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  grid-column: 1 / -1;
  height: 29.5rem;
  justify-items: center;
  width: 37.5rem;
}

.white {
  color: #ffffff;
  display: grid;
  grid-row-start: 2;
}

.client_quote {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
  grid-row-start: 3;
  padding-left: 1rem;
  padding-right: 1rem;
}

.the-user, .the-user-two {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/User.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  grid-column: 1 / -1;
  height: 29.5rem;
  justify-items: center;
  margin-top: -0.1rem;
  width: 37.5rem;
}

.the-user-two {
  background-image: url(../Images/user_two.png);
}


.solution {
  display: grid;
  grid-column: 1 / -1;
  padding-top: 5rem;
  justify-items: center;
}

.discovery {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 5rem;
  margin: 0;
  margin-top: -3rem;
}

.user-surveys {
  background-color: #F0F0F0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
  text-align: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 1.5rem;
}

.category_title {
  display: grid;
  grid-column: 1 / -1;
  margin: 0;
  font-weight: 500;
  text-align: center;
  padding-top: 5rem;
}

.bold-purple {
  color: #6A5487;
  font-weight: 500;
  text-align: center;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.percentage {
  color: #6A5487;
}

.section_title {
  margin-bottom: 0;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.user-interviews {
  display: grid;
  grid-template-columns: 1fr;
}

.key-takeaway {
  display: grid;
  grid-template-columns: 1fr 14.5fr;
  grid-gap: 2rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: 3rem;
  justify-item: left;
  text-align: left;
}

.bullet {
  display: grid;
  grid-column: 1;
}

.grey-line {
  background-color: #C7C7CA;
  width: 18.75rem;
  height: .3rem;
  margin-top: 5rem;
}

.competitive-analysis {
  display: grid;
  grid-column: 1 / -1

}

.comp {
  padding-top: 3rem;
}

.sol {
  padding-bottom: 3rem;
}

.content {
  margin-top: 3rem;

}

.user-personas {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.user {
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 5rem;
  justify-self: center;
}

.user_two {
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 5rem;
  justify-self: center;
}

.user_img,.user-name, .user-type {
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}

.user_img {
  justify-self: center;
}

.user-quote {
  text-align: left;
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.user-cat {
  justify-self: left;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 1rem;

}

.competitive-analysis a, .user-personas a, .user-flows a, .branding a {
  justify-self: center;
}

.IA {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 5rem;
  margin: 0;
  text-align: center;
}

.user-stories, .user-flows, .site-map, .wireframes, .branding, .mockups {
  display: grid;
  grid-column: 1 / -1;
  justify-items: center;
}

.user-stories p {
  padding-bottom: 3rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.user-flows p, .site-map p, .wireframes p, .branding p, .mockups p, .front_end p {
  display: grid;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;

}

.user-flows-img, .site-map-img {
  padding-bottom: 3rem;
}

.inner {
  margin-bottom: 0;
}

.topp {
  padding-top: 3rem;
}


.key-takeaway p {
  padding: 0;
}

.wireframes .round-one {
  padding: 0;
}

.visual_design {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  justify-items: center;
}


.branding {
  text-align: center;
}

.end {
  margin-top: 3rem;
}

.mockups, .front_end {
  display: grid;
  grid-column: 1 / -1;
  justify-items: center;
  text-align: center;
}

.mockups .key-takeaway {
  justify-self: left;
}

.reflections {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 5rem;
}

.view_next {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 2rem;
  padding-bottom: 43rem;
}


/* Space Correction after Round One Testing Key Takaways */
.space {
  padding-bottom: 1.5rem;
}

/* Spacing Correction between Preference Testing and key takeaways */

/* And Spacing Correction between Round Two User Testing and key takeaways */

.space_two {
  padding-top: 0;
}

.wireframes .space_three, .branding .space_three, .front_end .space_three, .user .space_three, .user_two .space_three {
  padding-bottom: 0;
}

.visual_icon {
  padding-top: 5rem;
}

.about_content {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
}

.about_content p {
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}


.about_content h3, .hobbies_content h3 {
display: grid;
grid-column: 1 / -1;
margin: 0;
font-weight: 500;
padding-left: 2.3rem;
padding-right: 2.3rem;
padding-bottom: 1.5rem;
padding-top: 3rem;
text-align: left;
}

.aboutme_img {
  justify-self: center;
  padding-top: 1.5rem;
}

.hobbies_content {
  display: grid;
  grid-column: 1 / -1;
  grid-gap: 1rem;
  padding-bottom: 120%;
  grid-template-columns: 1fr 3fr;
  align-self: center;
  align-self: start;
  margin-right: 2.3rem;
  padding-top: 3rem;
}

.hobbies_content .hobbies_title {
  display: grid;
  grid-column: 2 / 4;
  padding-top: .75rem;
  padding-left: 0;
}

.hobby {
  display: grid;
  grid-column: 2 / 4;
  padding-bottom: 1rem;
  padding-right: 2.3rem;
}

@media screen and (min-width: 575px) {
  .wrapper {
    grid-template-columns: 6fr;
  }

  .main_img {
    height: 46.5rem;
  }

  .projects {
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 40rem));
    padding-bottom: 45rem;
  }

  .fitcollect, .stb {
    height: 35rem;
  }

  .topnav {
    padding-bottom: 8rem;
  }

  .intro_header {
    padding-bottom: 5rem;
  }


  footer p {
    font-size: 2rem;
    line-height: 3.5rem;
  }

}

@media screen and (min-width: 1030px) {

  .main_img {
    height: 60rem;
  }

  .projects {
    grid-template-columns: repeat(auto-fill, minmax(45rem, 50rem));
    padding-bottom: 40rem;
  }

  .fitcollect, .stb {
    height: 45rem;
  }

  .topnav {
    display: block;
    align-items: center;
    padding-bottom: 8.6rem;
  }

  .topnav a {
    color: #333333;
    display: inline-block;
    font-size: 1.8rem;
    padding-left: 5rem;
  }

  .topnav a:visited {
    text-decoration: none;
    color: #333333;
  }

  .topnav a:hover {
    text-decoration: none;
    color: #E14658;
  }

  .topnav #menu_links {
    background-image: none;
    background-color: #C0B3A0;
    display: block;
    background-color: #F0F0F0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    top: 2rem;
    right: 10%;
    margin-top: 0;
    width: auto;
  }

  .topnav #menu_links li {
    display: inline-block;
    }

  .logo {
    left: 10%;
    margin-top: 2rem;
    width: 7.5rem;
    height: 4rem;
  }

  .pink-color-block {
    width: 7.5rem;
  }

  button {
    display: none;
  }

  .heading_section {
    width: 80%;
    padding-bottom: 5%;
  }

  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  .projects .project_title {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  .overlay {
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .fitcollect:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .stb:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .fitcollect .project_headline, .stb .project_headline {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .project_desc {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .projects {
    padding-bottom: 50rem;
    background-color: #F0F0F0;
    margin-top: -1rem;
  }
}
