* {
  box-sizing: border-box;
}

/* Setting REM for the rest of the document- easy to calc */
html {
  font-size: 10px;
}



/* Wrapper for the Homepage- sets the grid for homepage */
.wrapper {
  background-color: #F0F0F0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  position: relative;
  width: 100%;
}

/* Wrapper for case study pages- sets the grid */
.wrapper_two {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  position: relative;
  width: 100%;
}


/* Top navigation grid for all pages */
.topnav {
  align-items: center;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  width: 90%;
}

/* Menu link within Hamburger */
.topnav #menu_links {
  background-image: linear-gradient(#C0B3A0,#C0B3A0,#D0C3AF, #F0F0F0);
  background-size: cover;
  display: none;
  flex-direction: column;
  font-family: "Josefin Sans";
  font-size: 2.8rem;
  line-height: 6rem;
  list-style: none;
  padding-bottom: 2rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: 1rem;
  position: absolute;
  text-align: center;
  top: 5rem;
  width: 100%;
}

/* Link style for navigation */
.topnav a {
  text-decoration: none;
  color: #ffffff;
}

/* Visited link style */
.topnav a:visited {
  text-decoration: none;
  color: #ffffff;
}

/* Visited link style */
.topnav a:hover {
  text-decoration: none;
  color: #E14658;
}

.logo {
  background-image: url(../Images/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 3.2rem;
  margin-right: auto;
  position: absolute;
  top: 2rem;
  left: 5%;
  width: 6rem;
}

/* Hambuger Menu Button */
button {
  background: #F0F0F0;
  border: 0;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  padding: 0;
  right: 5%;
  top: 2rem;
}

.CS {
  background: white;
}

/* Styling for the Hamburger Menu */
.topnav .bar-1, .bar-2, .bar-3 {
  background-color: #333333;
  height: .5rem;
  margin: .6rem 0;
  position: relative;
  transition: 0.4s;
  width: 3.5rem;
}

/* Rotate first bar */
.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-.9rem, .6rem) ;
  transform: rotate(-45deg) translate(-.9rem, .6rem) ;
}

/* Fade out the second bar */
.change .bar-2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-.9rem, -.7rem) ;
  transform: rotate(45deg) translate(-.9rem, -.7rem) ;
}

/* Header for homepage- grid set up */
.main_page {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  background-color: #F0F0F0;
}

/* Header for case study pages */
.project_version {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding-bottom: 3rem;
}

/* Styling for all call to action buttons */
.pink-button {
  align-items: center;
  background-color: #E14658;
  border-radius: 4%;
  box-shadow: 2.5px 2.5px 8px #88888880;
  color: #ffffff;
  display: grid;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  grid-column: 1 / -1;
  height: 4rem;
  text-align: center;
  width: 16.5rem;
}

/* Hompage mountain image */
.main_img {
  display: grid;
  grid-column: 1 / -1;
}

/* Stying and placement for all pink color blocks */
.pink-color-block {
  display: grid;
  grid-column: 1 / 2;
  background-color: #E14658;
  width: 6rem;
  height: .4rem;
  align-self: start;
  margin-top: 2rem;
  margin-right: 1rem;
}

.heading_section {
  display: grid;
  grid-column: 1 / -1;
  width: 90%;
  justify-self: center;
}

/* Introduction H1 and H3 title and description for homepage*/
.intro_header {
  align-self: center;
  align-self: start;
  display: grid;
  grid-column: 2 / 4;
}

/* Introduction H1 and H3 title and description for case study pages */
.intro_header_two {
  display: grid;
  grid-column: 1 / -1;
  width: 90%;
  justify-self: center;
}

h1 {
  color: #333333;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4.6rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  color: #333333;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
}

h3 {
  color: #333333;
  font-size: 2.4rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 3.6rem;
  font-weight: 300;
}

h4 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

h5 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

h6 {
  color: #666666;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1.5rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 2.4rem;
  margin: 0;
}

/* Eliminate styling of ul for all pages */
ul {
  list-style: none;
  padding: 0;
  line-height: 1rem;
}

/* Sets up the grid for displaying projects on the homepage */
.projects {
  align-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28.8rem, 35rem));
  grid-gap: 3rem;
  justify-content: center;
  padding-bottom: 40rem;
  text-align: center;
}

/* Title of the project styling and grid placement */
.projects .project_title {
  display: grid;
  grid-column: 1 / -1;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3rem;
}

/* Link that wraps the entire dive for Fitcollect project on homepage */
.fitcollect_link {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* Div for Fitcollect on the homepage */
.fitcollect {
  background-image: url(../Images/FitCollect_pic_desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 10px 3px #999999;
  color: #ffffff;
  display: grid;
  height: 30rem;
  position: relative;
  width: 90%;
}

.overlay {
  display: grid;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  background-color: #3F325095;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  justify-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Headings for the project titles on both the homepage and View Next on CS Pages*/
.fitcollect .project_headline, .stb .project_headline {
  width: 100%;
  color: #ffffff;
  font-family: "Josefin Sans";
  grid-row: 2 / 3;
  margin: 0;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.FitCollect_VN .project_headline {
  color: #ffffff;
  font-family: "Josefin Sans";
  grid-row: 2 / 3;
  margin-bottom: 0;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Heading for project description on both the homepage and view next portion on CS Pages */
.project_desc {
  color: #ffffff;
  font-family: "Lato";
  font-size: 1.8rem;
  font-weight: 100;
  grid-row: 3 / 4;
  padding-top: 1rem;
  margin: 0;
  width: 100%;
  text-align: center;
}

/* Div for Sixth Tool Baseball on homepage and view next for fitcollect*/
.stb, .FitCollect_VN {
  background-image: url(../Images/STB_pic_desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 10px 3px #999999;
  color: #ffffff;
  display: grid;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  height: 30rem;
  text-align: center;
  width: 90%;
}

.stb {
  position: relative;
}

/* Image for view next FitCollect*/
.FitCollect_VN {
  background-image: url(../Images/FitCollect_pic.png);
}

/* link that wraps the entire div for sixth tool baseball on homepage */
.STB_link {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

/* Personal description under my name on homepage*/
.desc {
  display: grid;
  grid-column: 2 / -1;
  margin-bottom: 0;
}

/* Main image on homepage of mountains- additional styling */
.main_img {
  align-items: center;
  background-image: url(../Images/Portfolio_Pic.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  grid-column: 1 / -1;
  height: 35rem;
  justify-items: center;
  width: 100%;
}

/* Down arrow found on homepage on top of mountain pic*/
.arrow {
  width: 4rem;
  margin-top: 8rem;
  text-align: center;
}

/* Makes the arrow bounce for annimation*/
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-3rem);
  }
  60% {
    transform: translateY(-1.5rem);
  }
}


.projects {
  display: grid;
  grid-column: 1 / -1;
}

footer {
  display: grid;
  position: absolute;
  bottom: 0%;
  width: 100%;
  grid-column: 1 / -1;
  text-align: center;
  font-weight: 300;
  background-color: #22252C;
  background-size: 100% 100%;
  color: #ffffff;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-bottom: 1rem;
}

footer p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}


.footer_title {
  color: #ffffff;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin: 0;
}

.footer_list {
  list-style: none;
  display: block;
  padding-left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer_list li {
  align-items: center;
}

.email {
  display: inline-block;
  width: 3.5rem;
  margin-right: 2rem;
}

.github {
  display: inline-block;
  width: 3.5rem;
  margin-right: 2rem;
}

.linkedin {
  display: inline-block;
  width: 3.5rem;
  align-self: center;
}

small {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.prototype {
  display: grid;
  grid-column: 1 / -1;
  grid-row-start: 3;
  grid-template-rows: 5fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
  justify-self:center;
  width: 100%;
}

.fitcollect_img {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  margin: 0;
  background-image: url(../Images/FitCollect_CS.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: auto;
  justify-self: center;
}

.STB_img {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  margin: 0;
  background-image: url(../Images/STB_pic_CS.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: auto;
  justify-self: center;
}

.moodboard img {
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 3rem;
  width: 100%;
  max-width: 55rem;
  justify-self: center;
  text-align: center;
}

.view_next .fitcollect_link {
  width: 90%;
  max-width: 35rem;
}

.button_text {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 2;
}

.introduction {
  background-color: #F0F0F0;
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.introduction_items {
  display: grid;
  grid-column: 1 / -1;
}

.main {
  font-weight: 500;
}

.tools {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.deliverables {
  padding-bottom: 3rem;
}

.problem {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  text-align: center;
  justify-items: center;
  align-content: top;
}

.the-client {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/Client.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  grid-column: 1 / -1;
  height: 29.5rem;
  justify-items: center;
  align-self: center;
  width: 90%;
  max-width: 33.7rem;
}

.the-client-two {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/client_two.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  grid-column: 1 / -1;
  height: 29.5rem;
  justify-items: center;
  width: 90%;
  max-width: 33.7rem;
}

.white {
  color: #ffffff;
  display: grid;
  grid-row-start: 2;
  padding-top: 0;
}

.client_quote {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
  grid-row-start: 3;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 90%;
}

.the-user, .the-user-two {
  display: grid;
  grid-column: 1 / -1;
  grid-template-rows: 4fr 1fr 1fr 4fr;
  grid-template-columns: 1fr;
  background-image: url(../Images/User.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  grid-column: 1 / -1;
  height: 29.5rem;
  justify-items: center;
  align-items: end;
  margin-top: 2rem;
  width: 90%;
  max-width: 33.7rem;
}

.the-user-two {
  background-image: url(../Images/user_two.png);
}


.solution {
  display: grid;
  grid-column: 1 / -1;
  padding-top: 5rem;
  justify-items: center;
}

.discovery {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 5rem;
  margin: 0;
  margin-top: -3rem;
}

.user-surveys {
  background-color: #F0F0F0;
  display: grid;
  justify-items: center;
  text-align: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 5rem;
}

.US_background {
  display: grid;
  grid-column: 1/ -1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
  justify-self: center;
  text-align: center;
}

.category_title {
  display: grid;
  grid-column: 1 / -1;
  margin: 0;
  font-weight: 500;
  text-align: center;
  padding-top: 5rem;
}

.bold-purple {
  color: #6A5487;
  font-weight: 500;
  text-align: center;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.percentage {
  color: #6A5487;
}

.section_title {
  margin-bottom: 0;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.user-interviews {
  display: grid;
  grid-template-columns: 1fr;
}

.key-takeaway {
  display: grid;
  grid-template-columns: 1fr 14.5fr;
  grid-gap: 2rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: 3rem;
  justify-item: left;
  text-align: left;
}

.bullet {
  display: grid;
  grid-column: 1;
}

.grey-line {
  background-color: #C7C7CA;
  width: 18.75rem;
  height: .3rem;
  margin-top: 5rem;
}

.competitive-analysis {
  display: grid;
  grid-column: 1 / -1

}

.comp {
  padding-top: 3rem;
}

.sol {
  padding-bottom: 3rem;
}

.content {
  margin-top: 3rem;

}

.user-personas {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.user {
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 5rem;
  justify-self: center;
}

.user_two {
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 5rem;
  justify-self: center;
}

.user_img,.user-name, .user-type {
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}

.user_img {
  justify-self: center;
}

.user-quote {
  text-align: left;
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
}

.user-cat {
  justify-self: left;
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 1rem;

}

.competitive-analysis a, .user-flows a, .branding a {
  justify-self: center;
}

.branding .style_examples a {
  display: grid;
  grid-column: 1 / -1
}

.background a {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
  justify-items: center;
}

.IA {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 5rem;
  margin: 0;
  text-align: center;
}

.front_end {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
}

.screens_six {
  display: grid;
  grid-column: 1 / -1;
  justify-items: center;
}

.user-stories, .user-flows, .site-map, .wireframes, .branding, .mockups {
  display: grid;
  grid-column: 1 / -1;
  justify-items: center;
}

.user-stories p {
  padding-bottom: 3rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.user-flows p, .site-map p, .wireframes p, .branding p, .mockups p, .front_end p {
  display: grid;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}



.user-flows-img, .site-map-img {
  padding-bottom: 3rem;
  width: 90%;
}

.wireframes .sketches {
  width: 100%;
}

.wireframes .screens_four {
  justify-items: center;
}
.STB_wireframe_collage {
  display: none;
}

.STB_mockup_collage {
  display: none;
}

.STB_front_end_collage {
  display: none;
}


.inner {
  margin-bottom: 0;
}

.topp {
  padding-top: 3rem;
}


.key-takeaway p {
  padding: 0;
}

.wireframes .round-one {
  padding: 0;
}

.wireframes .screens_one img, .wireframes .screens_two img, .mockups .screens_three img, .preference_testing .screens_one img, .final_design .screens_one img, .wireframes .screens_four img, .visual_design .mockups .screens_five img, .front_end .screens_six img {
  width: 90%;
  max-width: 33.7rem;
}

.visual_design {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
}

.logo_sketches {
  width: 100%;
}


.branding, .preference_testing, .round_two, .final_design {
  text-align: center;
}

.preference_testing .summary {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.round_two {
  padding-bottom: 2rem;
}

.refined_logo img, .icons img, .typography img {
  width: 90%;
  max-width: 42.5rem;
}

.typography_two img, .color_scheme_two img {
  width: 90%;
  max-width: 35rem;
}

.color_scheme img {
  width: auto;
}

.style_examples {
  padding-top: 3rem;
}

.screens_six img {
  width: 90%;
  max-width: rem;
}

.style_examples a, .final_design a {
  display: grid;
  grid-column: 1 / -1;
  justify-items: center;
}

.end {
  margin-top: 3rem;
}

.dashboard_changes {
  width: 90%;
}

.mockups, .front_end {
  display: grid;
  grid-column: 1 / -1;
  justify-items: center;
  text-align: center;
}

.mockups .key-takeaway {
  justify-self: left;
}

.reflections {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 5rem;
}

.view_next {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  justify-items: center;
  padding-top: 2rem;
  padding-bottom: 43rem;
}

.view_next .STB_link {
  width: 90%;
  max-width: 35rem;
  height: auto;
}


/* Space Correction after Round One Testing Key Takaways */
.space {
  padding-bottom: 1.5rem;
}

/* Spacing Correction between Preference Testing and key takeaways */

/* And Spacing Correction between Round Two User Testing and key takeaways */

.space_two {
  padding-top: 0;
}

.wireframes .space_three, .branding .space_three, .front_end .space_three, .user .space_three, .user_two .space_three {
  padding-bottom: 0;
}

.visual_icon {
  padding-top: 5rem;
}

.about_content {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: 1fr;
}

.about_content p {
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-bottom: 3rem;
}

.about_size {
  font-size: 4.3rem;
}
.about_content h3, .hobbies_content h3 {
display: grid;
grid-column: 1 / -1;
margin: 0;
font-weight: 500;
padding-left: 2.3rem;
padding-right: 2.3rem;
padding-bottom: 1.5rem;
padding-top: 3rem;
text-align: left;
}

.aboutme_img {
  justify-self: center;
  padding-top: 1.5rem;
  width: 90%;
  max-width: 33.7rem;
  height: auto;
}

.hobbies_content {
  display: grid;
  grid-column: 1 / -1;
  padding-bottom: 41rem;
  grid-template-columns: 1fr 3fr;
  align-self: center;
  align-self: start;
  padding-right: 2.3rem;
  padding-left: 2.3rem;

}

.hobbies_content .hobbies_title {
  display: grid;
  grid-column: 2 / 4;
  padding-top: .75rem;
  padding-left: 0;
}

.hobby {
  display: grid;
  grid-column: 2 / 4;
  padding-bottom: 1rem;
  padding-right: 2.3rem;
}

.hobbies_content .hobby {
  padding-left: 0;
  padding-right: 0;
}




@media screen and (min-width: 760px) {
  .wrapper {
    grid-template-columns: 6fr;
  }

  .main_img {
    height: 46.5rem;
  }

  .projects {
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 40rem));
    grid-gap: 3rem;
    padding-bottom: 45rem;
  }

  .fitcollect, .stb {
    height: 35rem;
  }

  .topnav {
    padding-bottom: 8rem;
  }

  .intro_header {
    padding-bottom: 5rem;
  }


  footer p {
    font-size: 2rem;
    line-height: 3.5rem;
  }

  .fitcollect_img {
    width: 50rem;
    height: 35.8rem;
  }

  .STB_img {
    width: 50rem;
    height: 30rem;
  }

  .introduction {
    background-color: #F0F0F0;
  }

  .problem {
    grid-template-columns: repeat(12, 1fr);
  }

  .problem .solution {
    grid-column: 2 / 12;
  }

  .section_title {
    grid-column: 1 / -1;
  }

  .survey-item p {
    width: 19rem;
  }

  .discovery {
    display: grid;
    grid-column: 1 / -1;
  }

  .user-surveys {
    display: grid;
    grid-column: 1/ -1;
    width: 100%:
  }

  .discovery-icon {
    display: grid;
    grid-column: 1 / -1;
  }

  .introduction {
    grid-template-columns: repeat(12, 1fr);
  }

  .introduction-items {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: baseline;
    justify-self: center;
  }

  .introduction-items h3 {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .introduction-items ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .duration {
    justify-items: center;
    display: grid;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    padding-bottom: 3rem;
  }

  .introduction-items .space_four {
    padding-bottom: 0;
  }

  .deliverables {
    justify-items: center;
    display: grid;
    grid-row: 1;
    grid-column: 3;
  }

  .tools {
    justify-items: center;
    display: grid;
    grid-row: 1;
    grid-column: 2;
  }

  .role {
    justify-items: center;
    display: grid;
    grid-row: 1;
    grid-column: 1;
  }

  .pink-divider {
    width: .1rem;
    height: 45rem;
    background-color: #E14658;
    grid-column-start: 2;
    grid-row: 1;
    align-self: center;
  }

  .pink-divider_two {
    width: .1rem;
    height: 45rem;
    background-color: #E14658;
    grid-column-start: 3;
    grid-row: 1;
    align-self: center;
  }

  .user-surveys {
    background-color: #F0F0F0;
    display: grid;
    grid-column: 1/ -1;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0;
  }

  .user-surveys h3 {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .discovery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
  }

  .competitive-analysis {
    display: grid;
    grid-row: 6;
    grid-column: 2 / 12;
  }

  .CA_two {
    grid-row: auto;
  }

  .user-interviews {
    display: grid;
    grid-row: 4;
    grid-column: 2 / 12;
  }

  .grey-line {
    display: grid;
    grid-row-start: 5;
    grid-column: 1 / -1;
    width: 44rem;
  }

  .two {
    display: grid;
    grid-row-start: 7;
    grid-column: 1 / -1;
    margin-bottom: 21rem;
  }

  .background {
    display: grid;
    grid-column: 2 / 12;
    grid-row: 8;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10rem;
    align-items: baseline;
    background-size: cover;
  }

  .US_background {
    display: grid;
    grid-column: 3 / 11;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-self: center;
    text-align: center;
  }

  .user-personas {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 8;
    grid-template-columns: repeat(12, 1fr);
    background-color: #F0F0F0;
    background-size: cover;
    padding-bottom: 5rem;
  }

  .UP {
    margin-top: -18rem;
  }

  .user {
    display: grid;
    grid-column: 1;
    padding-top: 5rem;
    margin-top: -45%;
  }

  .user_two {
    display: grid;
    grid-column: 2;
    margin-top: -45%;
  }


  .user-personas a {
    display: grid;
    grid-column: 1 / -1;
  }

  .survey-item {
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .bold-purple {
    font-size: 2rem;
    line-height: 3.6rem;
  }

  .IA, .user-flows, .site-map {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .user-flows p, .site-map p {
    display: grid;
    grid-column: 2 / 12;
    grid-row: 2;
  }

  .user-flows img, .site-map img {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3;
    width: 80%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .user-flows a, .site-map a {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 4;
  }

  .IA .IA_icon {
    display: grid;
    grid-column: 1 / -1;
  }

  .user-stories {
    display: grid;
    grid-column: 2 / 12;
  }

  .wireframes {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, 1fr);
  }

  .wireframes p {
    display: grid;
    grid-column: 2 / 12;
  }

  .wireframes .sketches {
    display: grid;
    grid-column: 1 / -1;
  }

  .wireframes .screens_one, .preference_testing .screens_one, .final_design .screens_one {
    display: grid;
    grid-column: 2 / 12;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-items: center;
  }

  .wireframes .screens_two {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }

  .wireframes .screens_four {
    display: grid;
    grid-column: 1 / -1;
  }

  .mockups .screens_five, .front_end .screens_six  {
    display: grid;
    grid-column: 1 / -1;
    justify-items: center;
  }


  .R1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2 / 12;
    padding-bottom: 5rem;
  }

  .wireframes .round-one {
    display: grid;
    grid-column: 1 / -1;
  }

  .R1 h5 {
    display: grid;
    grid-column: 1 / -1;
  }

  .R1 .key-takeaway {
    display: grid;
    grid-column: 1 / -1;
    text-align: left;
    justify-items: left;
  }

  .wireframes .key-takeaway {
    display: grid;
    grid-column: 2 / 12;
    justify-self: left;
    text-align: left;
  }

  .front_end {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .front_end p {
    display: grid;
    grid-column: 2 / 12;
  }

  .front_end a {
    display: grid;
    grid-column: 1 / -1;
  }

  .front_end_icon {
    display: grid;
    grid-column: 1 / -1;
  }

  .branding {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .logo_sketches {
    display: grid;
    grid-column: 1 / -1;
  }

  .branding_intro {
    display: grid;
    grid-column: 2 / 12;
  }

  .style_examples {
    background-color: #F0F0F0;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: end;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  .style_examples a {
    display: grid;
    grid-column: 1 / -1;
  }

  .refined_logo {
    display: grid;
    grid-column: 2 / 12;
    justify-items: center;
  }

  .refined_logo img {
    align-self: center;
  }

  .color_scheme {
    display: grid;
    grid-column:  2 / 12;
    justify-items: center;
  }

  .typography {
    display: grid;
    grid-column: 2 / 12;
    justify-items: center;
  }

  .icons {
    display: grid;
    grid-column: 2 / 12;
    justify-items: center;
  }

  .refined_logo img, .color_scheme img, .icons img, .typography img {
    width: auto;
    padding-bottom: 0;
  }

  .mockups {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .mockups p {
    display: grid;
    grid-column: 2 / 12;
  }

  .mockups .screens_three {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
  }

  .style_examples_two {
    background-color: #F0F0F0;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: baseline;
  }

  .color_scheme_two {
    grid-column: 1 / 7;
  }

  .typography_two {
    grid-column: 7 / 13;
  }


  .scr6 {
    display: grid;
    grid-column: 1 / -1;
    justify-items: center;
  }

  .preference_testing, .final_design {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .preference_testing h5, .preference_testing .summary, .final_design h5, .final_design .summary {
    display: grid;
    grid-column: 1 / -1;
    justify-self: center;
  }

  .preference_testing .summary {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .preference_testing .key-takeaway {
    display: grid;
    grid-column: 2 / 12;
    justify-self: left;
  }

  .round_two {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .round_two h5, .round_two .key-takeaway {
    display: grid;
    grid-column: 2 / 12;
  }

  .round_two h5 {
    justify-self: center;
  }

  .final_design, .preference_testing {
    justify-items: center;
  }

  .reflections {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .reflections_icon, .reflections h2 {
    display: grid;
    grid-column: 1 / -1;
  }

  .reflections .key-takeaway {
    display: grid;
    grid-column: 2 / 12;
  }

  .final_design {
    padding-top: 5rem;
  }

  .view_next .STB_link, .view_next .fitcollect_link {
    width: 40rem;
    max-width: 40rem;
  }

  .wireframes .R1 .key-takeaway {
    justify-self: left;
  }

  .aboutme_img {
    width: 40rem;
    height: 58rem;
  }

  .about_content p, .about_content h3 {
    padding-left: 10rem;
    padding-right: 10rem;

  }

  .hobbies_content {
    padding-right: 10rem;
    padding-left: 10rem;
  }

  .aboutme_img {
    justify-self: center;
    padding-top: 1.5rem;
    width: 90%;
    max-width: 50rem;
    height: auto;
}

.moodboard {
  display: grid;
  grid-column: 2 / 12;
  max-width: 55rem;
}

@media screen and (min-width: 1030px) {

  p {
    font-size: 2rem;
    line-height: 3rem;
  }

  .main_img {
    height: 60rem;
  }

  .projects {
    grid-template-columns: repeat(2, minmax(45rem, 50rem));
    padding-bottom: 40rem;
    grid-gap: 0;
  }

  .fitcollect, .stb {
    height: 45rem;
  }

  .topnav {
    display: block;
    align-items: center;
    padding-bottom: 8.6rem;
  }

  .topnav a {
    color: #333333;
    display: inline-block;
    font-size: 1.8rem;
    padding-left: 5rem;
    justify-self: center;
  }

  .topnav a:visited {
    text-decoration: none;
    color: #333333;
  }

  .topnav a:hover {
    text-decoration: none;
    color: #E14658;
  }

  .topnav #menu_links {
    background-image: none;
    background-color: none;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    top: 2rem;
    right: 10%;
    margin-top: 0;
    width: auto;
  }

  .topnav #menu_links li {
    display: inline-block;

    }

  .logo {
    left: 10%;
    margin-top: 2rem;
    width: 7.5rem;
    height: 4rem;
  }

  .pink-color-block {
    width: 7.5rem;
  }

  button {
    display: none;
  }

  .heading_section {
    width: 80%;
    padding-bottom: 5%;
  }

  h1 {
    font-size: 5.6rem;
  }

  h2 {
    font-size: 4.8rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  .projects .project_title {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }

  .overlay {
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }

  .fitcollect:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .stb:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .fitcollect .project_headline, .stb .project_headline {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .project_desc {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .projects {
    padding-bottom: 50rem;
    background-color: #F0F0F0;
    margin-top: -1rem;
  }

  .project_version {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 0;
    width: 80%;
    justify-self: center;
    background-color: white;
  }


  .intro_header_two {
    display: grid;
    grid-column: 1 / 7;
    width: 100%;
    padding-top: 5rem;
  }

  .about_intro {
    display: grid;
    grid-column: 1 / -1;
  }

  .prototype {
    display: grid;
    grid-column: 7 / -1;
    grid-row: 2;
  }

  .aboutme_img {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    height: 80rem;
    width: 50rem;
    justify-self: center;
  }

  .about_writing {
    display: grid;
    grid-column: 1;
    grid-row: 1;
  }

  .about_writing h3, .about_writing p {
    padding-left: 0;
    padding-right: 0;
  }

  .about_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7.5rem;
    justify-self: center;
    width: 80%;
    padding-bottom: 50rem;
  }

  .about_content p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .hobbies_content {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    justify-self: center;
  }

  .introduction {
    grid-template-columns: repeat(12, 1fr);
  }
  .introduction-items {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: baseline;
    justify-self: center;
  }

  .introduction-items h3 {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .introduction-items ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .duration {
    justify-items: center;
    display: grid;
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    padding-bottom: 3rem;
  }

  .deliverables {
    justify-items: center;
    display: grid;
    grid-row: 1;
    grid-column: 3;
  }

  .tools {
    justify-items: center;
    display: grid;
    grid-row: 1;
    grid-column: 2;
  }

  .role {
    justify-items: center;
    display: grid;
    grid-row: 1;
    grid-column: 1;
  }

  .pink-divider {
    width: .1rem;
    height: 45rem;
    background-color: #E14658;
    grid-column-start: 2;
    grid-row: 1;
    align-self: center;
  }

  .pink-divider_two {
    width: .1rem;
    height: 45rem;
    background-color: #E14658;
    grid-column-start: 3;
    grid-row: 1;
    align-self: center;
  }

  .the-client, .the-client-two {
    grid-column: 3 / 7;
    grid-row: 2;
    align-self: center;
    justify-items: center;
    max-width: 50rem;
  }

  .the-user, .the-user-two {
    grid-column: 7 / 11;
    grid-row: 2;
    align-self: center;
    margin-top: 0;
    max-width: 50rem;
    justify-items: center;
  }

  .client_quote {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }

  .problem .solution {
    display: grid;
    grid-column: 3 / 11;
  }

  .user-surveys {
    background-color: #F0F0F0;
    display: grid;
    grid-column: 1/ -1;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0;
  }

  .user-surveys h3 {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .discovery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
  }

  .competitive-analysis {
    display: grid;
    grid-row: 6;
    grid-column: 3 / 11;
  }


  .user-interviews {
    display: grid;
    grid-row: 4;
    grid-column: 3 / 11;
  }

  .grey-line {
    display: grid;
    grid-row-start: 5;
    grid-column: 1 / -1;
    width: 44rem;
  }

  .two {
    display: grid;
    grid-row-start: 7;
    grid-column: 1 / -1;
    margin-bottom: 21rem;
  }

  .background {
    display: grid;
    grid-column: 3 / 11;
    grid-row: 8;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10rem;
    align-items: baseline;
    background-size: cover;
  }

  .US_background {
    display: grid;
    grid-column: 3 / 11;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-self: center;
    text-align: center;
  }

  .user-personas {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 8;
    grid-template-columns: repeat(12, 1fr);
    background-color: #F0F0F0;
    background-size: cover;
    padding-bottom: 5rem;
  }

  .UP {
    margin-top: -22rem;
  }

  .user {
    display: grid;
    grid-column: 1;
    padding-top: 5rem;
    margin-top: -45%;
  }

  .user_two {
    display: grid;
    grid-column: 2;
    margin-top: -45%;
  }


  .user-personas a {
    display: grid;
    grid-column: 1 / -1;
  }

  .survey-item {
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .bold-purple {
    font-size: 2rem;
    line-height: 3.6rem;
  }

  .IA, .user-flows, .site-map {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .user-flows p, .site-map p {
    display: grid;
    grid-column: 3 / 11;
    grid-row: 2;
  }

  .user-flows img, .site-map img {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3;
    width: 80%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .user-flows a, .site-map a {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 4;
  }

  .IA .IA_icon {
    display: grid;
    grid-column: 1 / -1;
  }

  .user-stories {
    display: grid;
    grid-column: 3 / 11;
  }

  .wireframes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .wireframes p {
    display: grid;
    grid-column: 3 / 11;
  }

  .wireframes .sketches {
    display: grid;
    grid-column: 1 / -1;
  }

  .wireframes .screens_one, .preference_testing .screens_one, .final_design .screens_one {
    display: grid;
    grid-column: 3 / 11;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-items: center;
  }

  .wireframes .screens_two {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }

  .R1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 3 / 11;
    padding-bottom: 5rem;
  }

  .wireframes .round-one {
    display: grid;
    grid-column: 1 / -1;
  }

  .wireframes .screens_four {
    display: none;
  }

  .mockups .screens_five {
    display: none;
  }

  .wireframes .key-takeaway {
    display: grid;
    grid-column: 3 / 11;
    justify-self: left;
    text-align: left;
  }

  .R1 h5 {
    display: grid;
    grid-column: 1 / -1;
  }

  .R1 .key-takeaway {
    display: grid;
    grid-column: 1 / -1;
    text-align: left;
    justify-items: left;
  }

  .branding {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .logo_sketches {
    display: grid;
    grid-column: 1 / -1;
  }

  .branding_intro {
    display: grid;
    grid-column: 3 / 11;

  }

  .style_examples {
    background-color: #F0F0F0;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: end;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  .style_examples_two {
    background-color: #F0F0F0;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: baseline;
  }

  .moodboard {
    display: grid;
    grid-column: 3 / 11;
    max-width: 55rem;
  }

  .color_scheme_two {
    display: grid;
    grid-column: 3 / 7;
    justify-items: center;
    padding-top: 5rem;
  }

  .typography_two {
    display: grid;
    grid-column: 7 / 11;
    justify-items: center;
  }

  .style_examples a {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3;
  }

  .refined_logo {
    display: grid;
    grid-column: 2 / 7;
    grid-row: 1;
    justify-items: center;
  }

  .refined_logo img {
    align-self: center;
  }

  .color_scheme {
    display: grid;
    grid-column: 7 / 12;
    grid-row: 1;
    justify-items: center;
  }

  .typography {
    display: grid;
    grid-column: 2 / 7;
    grid-row: 2;
    justify-items: center;
  }

  .icons {
    display: grid;
    grid-column: 7 / 12;
    grid-row: 2;
    justify-items: center;
    align-self: end;
  }

  .refined_logo img, .color_scheme img, .icons img, .typography img {
    width: auto;
    padding-bottom: 0;
  }

  .mockups {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .mockups p {
    display: grid;
    grid-column: 3 / 11;
  }

  .mockups .screens_three {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
  }

  .STB_wireframe_collage {
    background-color: #F0F0F0;
  }

  .STB_mockup_collage, .STB_wireframe_collage {
    display: grid;
    grid-column: 1 / -1;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .STB_front_end_collage {
    display: grid;
    grid-column: 1 / -1;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
  }

  .front_end .screens_six {
    display: none;
  }

  .scr6 {
    display: grid;
    grid-column: 1 / -1;
    justify-items: center;
  }

  .preference_testing, .final_design {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .preference_testing h5, .preference_testing .summary, .final_design h5, .final_design .summary {
    display: grid;
    grid-column: 1 / -1;
    justify-self: center;
  }

  .preference_testing .summary {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .preference_testing .key-takeaway {
    display: grid;
    grid-column: 3 / 11;
    justify-self: left;
  }

  .round_two {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .round_two h5, .round_two .key-takeaway {
    display: grid;
    grid-column: 3 / 11;
  }

  .round_two h5 {
    justify-self: center;
  }

  .final_design, .preference_testing {
    justify-items: center;
  }

  .front_end {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .front_end p {
    display: grid;
    grid-column: 3 / 11;
  }

  .front_end a {
    display: grid;
    grid-column: 1 / -1;
  }

  .front_end_icon {
    display: grid;
    grid-column: 1 / -1;
  }

  .reflections {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .reflections_icon, .reflections h2 {
    display: grid;
    grid-column: 1 / -1;
  }

  .reflections .key-takeaway {
    display: grid;
    grid-column: 3 / 11;
  }

  .final_design {
    padding-top: 5rem;
  }

  .view_next .STB_link, .view_next .fitcollect_link {
    width: 50rem;
    max-width: 50rem;
  }


  .wireframes .R1 .key-takeaway {
    justify-self: left;
  }


}

@media screen and (min-width: 1440px) {

  .wrapper_two {
    margin: 0 auto;
    max-width: 1400px;
  }

}
